{
    "development": {
        "server": {
            "address": ":1323"
        },
        "cors": {
            "origin": "*"
        },
        "database": {
            "url": "http://localhost:8529",
            "user": "login",
            "pass": "pass",
            "name": "dota_leagues"
        },
        "throttling": {
            "per_min": 50,
            "burst": 15
        }
    },

    "production": {
        "server": {
            "address": ":1323"
        },
        "cors": {
            "origin": "https://dota-leagues.27n.gg"
        },
        "database": {
            "url": "http://localhost:8529",
            "user": "login",
            "pass": "pass",
            "name": "dota_leagues"
        },
        "throttling": {
            "per_min": 50,
            "burst": 15
        }
    }
}