[Unit]
Description=dota_league web service
After=arangodb3.service
Requires=arangodb3.service

[Service]
Type=simple
WorkingDirectory=/home/deploy/work/dota_league
ExecStart=/home/deploy/work/dota_league/dota_league --production
Restart=on-failure
RestartSec=30
# Setuid/Setgid
User=deploy
Group=deploy

[Install]
WantedBy=multi-user.target